body {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {}

.vs {
    height: 100vh;
}
#check{
    display: none;
}

.nav {
    height: 10%;
    width: 100%;
    background: #6d0808;
    /* position: relative; */
    /* overflow: hidden; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    && .nav-left{
        width: 30%;
        /* background: #000; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
    }

    && .nav-right{
        width: 70%;
        /* background: #000; */
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.1rem;
       
        && h2 a{
            color: #fff;
        }

        && a i{
            display: none;
            cursor: pointer;
        }
        && a{
            text-decoration: none;
        }
    }
}

.hero {
    height: 82%;
    width: 100%;
    position: relative;
    background: #bfa878;
    /* background: #e09d0d; */
}

.bottom {
    height: 8%;
    width: 100%;
    background: #301d1d;
}




.menu ul {
    position: absolute;
    list-style: none;
    height: 100%;
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}
.menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 10%;
    color: #fff;
    /* border: 1px solid #6d0808; */
    cursor: pointer;
    
}
.menu ul li:hover {
    background: #6d0808;
    
}

.menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Initially hidden */
    height: 100%;
    background: #c14433;
    left: 0%;
    top: 0%;
    font-size: 1.5rem;
    width: 0%;
    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1), width 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
#check:checked~ .hero .menu {
    /* display: flex; */
    width: 100%;
    opacity: 1;
    /* background: #000; */
}


.bottom{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    && .item{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width:700px)
{
    #check:checked~ .hero .menu {
        display: flex;
        width: 25%;
        opacity: 1;
        /* height: 100%; */
    }
    .hero{
        height: 90%;
    }

    .bottom{
        display: none;
    }

    .nav{
        && .nav-left{
            width: 15%;
        }
        && .nav-right{
            && a i{
                display: block;
                /* padding: 5%; */
            }
            && a {
                /* display: block; */
                padding: 5%;
            }
            && h2 a:hover {
                background: #6d0808;

            }
            && a:hover {
                display:block;
                background: #880606;
            }
        }
    }
} 